extends ../layout

block content
  h1 Your Tasks &nbsp
    a(href="/task/new", class='btn btn-primary') +
  br
  br
  -if(typeof messages != 'undefined')
    -if(messages.info)
      .message.info
        span= messages.info
  
  -if (docs.length)
    -var index= 1
    table.table.table-striped
      tr
        th Delete
        th #       
        th Task
        th Details
          each task in docs
            tr
              td(style="width:5%;")
                form(method='post', action='/task/#{task.id}/delete')
                  button.close(type='submit')
                    span(aria-hidden="true") &times;
              td #{index} &nbsp
                a.btn(href="/task/#{task.id}/edit") Edit
              td #{task.task}
              td #{task.detail}    
            -index= index + 1        
  -else
    p You don't have any tasks!  